@model TrashCollectorProject.Models.Customers

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.streetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.streetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.zipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.balance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.startPickupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startPickupDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pickupDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.endPickupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endPickupDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.extraPickupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extraPickupDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.confirmPickup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.confirmPickup)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
